.target{
    display: flex;
    flex-direction: column;
}

.target-form{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    max-width: 500px;
    border-radius: 9px;
    box-shadow: 0 0 10px #000;
}

.target input{
    margin: 20px 0;
    padding: 5px;
    border: none;
    border-bottom: 3px solid #000;
    border-radius: 9px;
}

.target button{
    padding: 5px 0;
    border-radius: 9px;
    background-color: #000;
    color: #fff;
}

.target button:hover{
    cursor: pointer;
}

.target button:active{
    background-color: #555;
}